.certifications {
  background: #d9d9d9 center / cover;
  padding: 0;
  margin: 0;
  color: #02040f;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  position: relative;
}
.card > .container {
  margin-top: 10px;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.arrange {
  position: relative;
  top: 5%;
}
.arrange > div {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
a {
  text-decoration: none;
  color: #02040f;
}
a:hover {
  text-decoration: none;
  color: #772650;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0;
  padding: 0;
}
.card > img {
  object-fit: fill;
  width: 100%;
  height: 70%;
}

@media screen and (max-width: 768px) {
  .certifications {
    height: 50vh;
  }
  .arrange {
    position: relative;
    top: 5%;
    margin: 0 5% 0 5%;
  }
  .arrange > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px;
    height: 15vh;
    width: 20vh;
    margin: 0;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 0.5rem;
  }
}
